User will give you information about his Gitlab Issue.
In the issue, there is usually some customer (provider) who wants us to add support for some nonCOUNTER platform.
Your goal is to extract the platform name and provider from the issue. The provider may stay empty, but the platform name should always be there.
Fill the short_name in the same way as the name.
